
@import 'vars';

// Breakpoints
$s_ems: 30em !default;
$m_ems: 30.1em !default;
$l_ems: 48.1em !default;

// Typography
$base-font-size: 16px !default;
$base-line-height: 24px !default;

// Create media queries rules from named breakpoints (s, m, l)
// or pass in a media query
@mixin breakpoint($point) {
	@if $point == s {
		@media only screen and (max-width: #{$s_ems}) { @content; }
	}

	@else if $point == m {
		@media only screen and (min-width: #{$m_ems}) { @content; }
	}

	@else if $point == l {
		@media only screen and (min-width: #{$l_ems}) { @content; }
	}

	@else {
		@media only screen and (#{$point}) { @content; }
	}
}

// Create a font style with vertical rhythm from a single value
@mixin font-size($font-size, $line-height:true){
	font-size:$font-size;
	font-size:($font-size / $base-font-size)*1rem;
	@if $line-height == true{
		line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
	}
}

// Create vendor prefixed properties
@mixin vendor($property, $value){
	-webkit-#{$property}:$value;
	-moz-#{$property}:$value;
	-ms-#{$property}:$value;
	#{$property}:$value;
}

// Create vendor prefixed named animations
@mixin keyframe ($name){
	@-webkit-keyframes $name{
		@content;
	}

	@-moz-keyframes $name{
		@content;
	}

	@-ms-keyframes $name{
		@content;
	}

	@keyframes $name{
		@content;
	}
}
