// Typography
$base-font-family: sans-serif;
$base-font-size: 18px;
$base-line-height: 1.5 * $base-font-size;


// Dimensions for breakpoints, max width and gutters
$s_ems: 30em;
$m_ems: 30.1em;
$l_ems: 48.1em;
$max_ems: 62em;
$gutter: 1rem;

