/* line 15, ../sass/_grid.scss */
.g {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 62em;
  padding-left: 0;
  padding-right: 0;
}

/* line 24, ../sass/_grid.scss */
.g > * {
  display: inline-block;
  margin: 0 -4px 0 0;
  padding: 0 0.5rem;
  vertical-align: top;
  width: 100%;
}

/* line 32, ../sass/_grid.scss */
.g > .g {
  padding: 0;
}

/* line 34, ../sass/_grid.scss */
.g, .g > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen {
  /* line 42, ../sass/_grid.scss */
  .g12 > :first-child {
    width: 33.333%;
  }

  /* line 43, ../sass/_grid.scss */
  .g12 > * {
    width: 66.666%;
  }

  /* line 44, ../sass/_grid.scss */
  .g21 > :first-child {
    width: 66.666%;
  }

  /* line 45, ../sass/_grid.scss */
  .g21 > * {
    width: 33.333%;
  }

  /* line 46, ../sass/_grid.scss */
  .g25 > * {
    width: 25%;
  }

  /* line 47, ../sass/_grid.scss */
  .g33 > * {
    width: 33.333%;
  }

  /* line 48, ../sass/_grid.scss */
  .g50 > * {
    width: 50%;
  }

  /* line 49, ../sass/_grid.scss */
  .g66 > * {
    width: 66.666%;
  }

  /* line 50, ../sass/_grid.scss */
  .g75 > * {
    width: 75%;
  }
}
@media only screen and (min-width: 30.1em) {
  /* line 55, ../sass/_grid.scss */
  .g > * {
    padding: 0 1rem;
  }

  /* line 56, ../sass/_grid.scss */
  .m12 > :first-child {
    width: 33.333%;
  }

  /* line 57, ../sass/_grid.scss */
  .m12 > * {
    width: 66.666%;
  }

  /* line 58, ../sass/_grid.scss */
  .m21 > :first-child {
    width: 66.666%;
  }

  /* line 59, ../sass/_grid.scss */
  .m21 > * {
    width: 33.333%;
  }

  /* line 60, ../sass/_grid.scss */
  .m25 > * {
    width: 25%;
  }

  /* line 61, ../sass/_grid.scss */
  .m33 > * {
    width: 33.333%;
  }

  /* line 62, ../sass/_grid.scss */
  .m50 > * {
    width: 50%;
  }

  /* line 63, ../sass/_grid.scss */
  .m66 > * {
    width: 66.666%;
  }

  /* line 64, ../sass/_grid.scss */
  .m75 > * {
    width: 75%;
  }
}
@media only screen and (min-width: 48.1em) {
  /* line 69, ../sass/_grid.scss */
  .l12 > :first-child {
    width: 33.333%;
  }

  /* line 70, ../sass/_grid.scss */
  .l12 > * {
    width: 66.666%;
  }

  /* line 71, ../sass/_grid.scss */
  .l21 > :first-child {
    width: 66.666%;
  }

  /* line 72, ../sass/_grid.scss */
  .l21 > * {
    width: 33.333%;
  }

  /* line 73, ../sass/_grid.scss */
  .l25 > * {
    width: 25%;
  }

  /* line 74, ../sass/_grid.scss */
  .l33 > * {
    width: 33.333%;
  }

  /* line 75, ../sass/_grid.scss */
  .l50 > * {
    width: 50%;
  }

  /* line 76, ../sass/_grid.scss */
  .l66 > * {
    width: 66.666%;
  }

  /* line 77, ../sass/_grid.scss */
  .l75 > * {
    width: 75%;
  }
}
/* line 5, ../sass/screen.scss */
body {
  font-size: 18px;
  font-size: 1rem;
  line-height: 1.5;
}
@media only screen and (max-width: 30em) {
  /* line 5, ../sass/screen.scss */
  body {
    background: lime;
  }
}
@media only screen and (min-width: 30.1em) {
  /* line 5, ../sass/screen.scss */
  body {
    background: red;
  }
}
@media only screen and (min-width: 48.1em) {
  /* line 5, ../sass/screen.scss */
  body {
    background: #ddd;
  }
}

@-webkit-keyframes fadeout {
  /* line 22, ../sass/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 26, ../sass/screen.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeout {
  /* line 22, ../sass/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 26, ../sass/screen.scss */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeout {
  /* line 22, ../sass/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 26, ../sass/screen.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  /* line 22, ../sass/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 26, ../sass/screen.scss */
  100% {
    opacity: 0;
  }
}
